<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteEngine On
    RewriteCond %{HTTP_HOST} ^ae\.instrubiz\.ae$
    RewriteRule ^(.*)$ https://instrubiz.ae/$1 [R=301,L]

    RewriteEngine On
    RewriteCond %{HTTP_HOST} ^www\.instrubiz\.ae$ [OR]
    RewriteCond %{HTTP_HOST} ^instrubiz\.ae$
    RewriteRule ^(.*)$ https://instrubiz.ae/$1 [R=301,L]
</IfModule>
